@import "tailwindcss";
@plugin "tailwind-scrollbar";

* {
  box-sizing: border-box;
}

body{
color: #101828;
}

.custom-select-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-select-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 16px; 
}

.custom-select-scrollbar::-webkit-scrollbar-thumb {
  background: #DADDE1; 
  border-radius: 16px; 
}